<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/tx
    http://www.springframework.org/schema/tx/spring-tx.xsd">

    <bean id="dataSource" class="${spring.datasource.type}" destroy-method="close">
        <property name="driverClassName" value="${spring.datasource.driver-class-name}"/>
        <property name="jdbcUrl" value="${spring.datasource.url}"/>
        <property name="username" value="${spring.datasource.username}"/>
        <property name="password" value="${spring.datasource.password}"/>
        <property name="poolName" value="${spring.datasource.name}"/>
        <property name="dataSourceProperties">
            <map>
                <entry key="cachePrepStmts" value="true"/>
                <entry key="prepStmtCacheSize" value="250"/>
                <entry key="prepStmtCacheSqlLimit" value="2048"/>
                <entry key="useServerPrepStmts" value="true"/>
                <entry key="useLocalSessionState" value="true"/>
                <entry key="useLocalTransactionState" value="true"/>
                <entry key="rewriteBatchedStatements" value="true"/>
                <entry key="cacheResultSetMetadata" value="true"/>
                <entry key="cacheServerConfiguration" value="true"/>
                <entry key="elideSetAutoCommits" value="true"/>
                <entry key="maintainTimeStats" value="false"/>
            </map>

        </property>
    </bean>

    <!--配置事务管理器 -->
    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <!--配置基于注解的声明式事务 -->
    <tx:annotation-driven/>

    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <property name="configLocation" value="classpath:mybatis-config.xml"/>
        <property name="mapperLocations" value="classpath:mapper/*.xml"/>
        <property name="typeAliasesPackage" value="org.sample.seckill.model.entity"/>
        <property name="plugins">
            <array>
                <bean class="org.sample.component.mybatis.PageInterceptor"/>
            </array>
        </property>
    </bean>

    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="sqlSessionFactoryBeanName" value="sqlSessionFactory"/>
        <property name="basePackage" value="org.sample.seckill.mapper"/>
    </bean>

</beans>