<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.sample.seckill.mapper.SeckillMapper">

    <resultMap id="BaseResultMap" type="Seckill">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="count" property="count" jdbcType="INTEGER"/>
        <result column="start_time" property="startTime" jdbcType="TIMESTAMP"/>
        <result column="end_time" property="endTime" jdbcType="TIMESTAMP"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, name, count, start_time, end_time, create_time
    </sql>

    <select id="selectById" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from seckill
        where id = #{id,jdbcType=BIGINT}
    </select>

    <select id="select" resultType="Seckill" parameterType="Seckill">
        select
        name, id, count, start_Time, end_Time, create_Time
        from Seckill
        <where>
            <if test="name != null">
                and name like concat(#{name},'%')
            </if>
            <if test="id != null">
                and id=#{id}
            </if>
            <if test="count != null">
                and count=#{count}
            </if>
            <if test="startTime != null">
                and start_Time=#{startTime}
            </if>
            <if test="endTime != null">
                and end_Time=#{endTime}
            </if>
            <if test="createTime != null">
                and create_Time=#{createTime}
            </if>
        </where>
    </select>

    <delete id="deleteById" parameterType="java.lang.Integer">
        delete from seckill
        where id = #{id,jdbcType=BIGINT}
    </delete>

    <insert id="insert" parameterType="Seckill">
        insert into seckill
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="count != null">
                count,
            </if>
            <if test="startTime != null">
                start_time,
            </if>
            <if test="endTime != null">
                end_time,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="count != null">
                #{count,jdbcType=INTEGER},
            </if>
            <if test="startTime != null">
                #{startTime,jdbcType=TIMESTAMP},
            </if>
            <if test="endTime != null">
                #{endTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="update" parameterType="Seckill">
        update seckill
        <set>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="count != null">
                count = #{count,jdbcType=INTEGER},
            </if>
            <if test="startTime != null">
                start_time = #{startTime,jdbcType=TIMESTAMP},
            </if>
            <if test="endTime != null">
                end_time = #{endTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>

    <update id="reduceCount">
	   <![CDATA[
        update seckill
        set count = count - 1
        where count > 0
        and id = #{id,jdbcType=BIGINT}
        and start_time <= #{killTime}
        and end_time >= #{killTime}
        ]]>
    </update>

</mapper>